/*
    Main styles for PokéType, fairly standard stuff

    Vignesh Kalidas, 2014
*/

body {
    background-color: #4F505A;
}

nav {
    margin-top: -3px;
}

a {
    color: #4F505A;
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: #bbb;
}

#brand {
    font-size: 24px;
    font-weight: bold;
    color: #4F505A;
    text-decoration: none;
}

#HelpButton {
    float: right;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

#species-container {
    background-color: #88A0AF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    color: #fff;
    margin: 0 0 50px 0;
    overflow: auto;
    padding: 10px 0 10px 0;
}

#sprite {
    margin: 0 -20px 0 20px;
}

#typing {
    font-weight: bold;
    font-size: 32px;
}

#species-name {
    font-size: 24px;
    font-weight: bold;
}

#abilities {
    font-size: 20px;
}

.effectiveness-header {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

#intro {
    background-color: #88A0AF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    color: #fff;
    margin-bottom: 50px;
}

.types {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}